<%= select_tag(:year, options_for_select(@years, @year), {:prompt => "Select a Year", :id => "filter_by_year", :class => "btn btn-default dropdown-toggle"}) %>

<div class="issue_links" id="issue_links">
	<% unless @issue_links.empty? %>
		<div class="row">
			<% @issue_links.each do |issue_link| %>
				<div class="col-xs-6 col-md-4 col-lg-4">
					<div class="issue-link-box">
						<%= link_to (image_tag issue_link.thumbnail_link, class:"issue-link-image"), issue_link %>
					</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<h1>No issue links</h1>
	<% end %>
</div>
