<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h2>Manage Editors</h2>
            <% unless @editors.count == 0 %>
                <% @editors.each do |editor| %>
                    <% unless current_editor == editor %>
                        <div>
                            <h3><%= editor.email %></h3>
                            <%= link_to "Delete", admin_destroy_editor_path(editor), method: :delete, data: { confirm: "Are you sure you want to delete #{editor.email}?" } %>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <h3>There are no editors</h3>
            <% end %>
        </div>
    </div>

    <br>

    <%= link_to "Invite Editor", new_editor_invitation_path %>
</div>
