<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h2>Manage Admins</h2>
            <% unless @verified_admins.count == 1 %>
                <% @verified_admins.each do |admin| %>
                    <% unless current_admin == admin %>
                        <div>
                            <h3><%= admin.email %></h3>
                            <%= link_to "Delete", admin_destroy_user_path(admin), method: :delete, data: { confirm: "Are you sure you want to delete #{admin.email}?" } %>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <h3>You are the only admin</h3>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h2>Verify Admins</h2>
            <% unless @unverified_admins.count == 0 %>
                <% @unverified_admins.each do |admin| %>
                    <div>
                        <h4><%= admin.email %></h4>
                        <%= link_to "Verify", verify_admin_path(admin), method: :put, data: { confirm: "Are you sure you want to verify #{admin.email}?" } %>
                    </div>
                <% end %>
            <% else %>
                <h3>There is no one to verify</h3>
            <% end %>
        </div>
    </div>
</div>
