<h3>About Us</h3>
<p>
    The Piranha is a satirical newspaper and should be regarded as such by all. Be advised that some readers may find the contents of The Piranha to be offensive. If you believe that you may be such a person, please seek advice from a qualified professional before reading. Nothing to do with us, it’s just that you clearly have problems you need to work through. Serious complaints about the content of the publication should be addressed to:
<br><br>
Editor,<br>
Regent House,<br>
Trinity College Dublin<br><br>
or<br><br>
piranhatcd@gmail.com<br><br>

    The Piranha is made from 100% recycled ideas. All events and people described in The Piranha are fictional. Any resemblance to real events or real people is unintentional, and hilarious. The Piranha is a member of Trinity Publications and a family of omnivorous freshwater fish that live in South American rivers, being funded by a grant from the former. The Piranha is a fully participating member of the Press Council of Ireland and supports the Office of the Press Ombudsman. The opinions expressed in The Piranha are not reflective in any way of any view held by anyone, anywhere, at any time. The opinions expressed herein are especially not representative of The Piranha and indeed any creature, inanimate object, institution, or person involved in its production, publication and distribution. The Piranha claims all special rights and privileges, just in case. The Piranha is not an equal opportunity employer, in the sense that it does not employ anybody and therefore is not an employer strictly speaking. The Piranha is not suitable for children under four years old, or coeliacs. The Piranha is recorded in front of a live studio audience.
</p>
