/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require bootstrap-datepicker3
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"
@import "social-share-button"

/*
 * Page Header
 */

.page_header
	:height 80px
	:border-bottom solid 2px black

.page_header ul
	:float right
	:margin-top 35px
	:margin-right 5%

.page_header ul li
	:list-style none
	:display inline
	:margin-right 30px

.page_header ul li a
	:text-decoration none

.page_header .piranha_title
	:float left

/*
 * Search Bar
 */

.search-form
	float: left

.search
	width: 75px
	-webkit-transition: all .5s ease
	-moz-transition: all .5s ease
	transition: all .5s ease
	border-radius: 5px
	border: 1px solid #666
	padding: 5px 10px 5px 10px

.search:focus
	width: 250px



/*
 * Page Footer
 */


.page_footer
	:margin-top 45px
	:border-top solid 1px black
	:height 80
	:text-align center
	:padding-top 20px

.page_footer ul li
	:list-style none
	:display inline
	:margin-left 3%
	:margin-right 3%

.page_footer ul li a
	:text-decoration none
/*
 * Share Buttons
 */
.social-share-button
	.ssb-icon
		:background-size 40px 40px
		:height 40px
		:width 40px
