<div class="draft-list">
	<% unless @drafts.empty? %>
		<ul class="list-group">
			<% @drafts.each do |draft| %>
				<li class="list-group-item">
					<%= link_to draft.title, edit_draft_path(draft) %>
				</li>
			<% end %>
		</ul>
	<% else %>
		<div class="panel panel-default">
			<div class="panel-body">
				No drafts
			</div>
		</div>
	<% end %>
</div>
