<div class="page_footer">
	<ul>
		<li><%= link_to 'Contact', contacts_path %></li>
		<li><%= link_to 'About Us','#' %></li>
		<li><%= link_to 'Placeholder','#' %></li>
	</ul>

	<p>The Piranha</p>
</div>
