<div class="page_footer">
	<div class="container-fluid">
		<div class="row footer">
			<div class="col-lg-6 col-md-6 col-xs-12 footer-left">
				<p>
					<strong>Address:</strong><br>
					Editor,<br>
					Regent House,<br>
					Trinity College Dublin<br><br>
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12 footer-right">
				<p>
					Wanna write for us?<br>
					<%= link_to 'Get In Touch!', contacts_path %>
				</p>
			</div>
		</div>
	</div>
</div>
